body{
    margin: 0;
    background-color: rgb(4,224,188);
}

div{
    width: 200px;
    height: 200px;
    margin: 5px;
    background-color:white;
   /*-- animation: expand 1s linear 1s 5; /*--name duration timing-function delay --*//*--linear; ease-in-out;  --*/
  /*-- animation: expand 2s ease-out 1s infinite;--*/
   /*--transition:background-color 1s ease-in-out;---*/
   transition: 1s ease-in-out;

}

/*---pause animatin through hover function---*/
div:hover{
    /*--transform: rotate(45deg); /*---you can use also - minus value---*/
    /*--animation-play-state: paused;---*/
    background-color:orange;
    /*---transform: rotateY(180deg)---*/
   /*-- transform: translate(50px,50px);/*--scale;skew;translate;--*/
   transform: translateX(50px);
   transform-origin: top left;

}

/*--expand is name of animation we can specify names---*/
@keyframes expand {
/*--FROM TO METHOD---*/
    /*--from{
        width: 200px;
    }
    to{
        width: 600px;
    }---*/

/*--% METHOD AND MULTIPLE FUNCTION---*/
    0%{
        width: 200px;
        /*--height: 300px;--*/
        /*--background-color:red;---*/
    }
    50%{
        width: 600px;
        /*--height:800px;---*/
       /*-- background-color:green;--*/
    }
    100%{
        width: 200px;
        /*--height:300px;---*/
      /*--  background-color:blue;--*/
    }



}