/*multiple Selectors--*/
h1,h2,h3{
    color:red;
    background-color: blue;
}

P{
    color:green;
    background-color:yellowgreen;
}

/*---ID IS UNIQUE(ONLY ONE ELEMENTS CAN HAVE THIS NAME)---*/ 
/*---CLASS CAN HAVE IT ANY UNLIMITED TAGS---*/

/*--- # ID Calling--*/
#para-2{
    color: cyan;
    background-color:black;
}

/*--- . CLASS CAlling (reusable)---*/
.cla-1{
    background-color:lightblue;
    color: black;
    padding: 15px;
}

/*-- # NESTED SELECTERS--*/

#nest-1 h1{
    background-color:yellow;
    font-size: 50px;
    font-weight: normal;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
    text-decoration: line-through;
    line-height: 27px; 
    color: coral;
}

#nest-1 p{
    background-color:coral;
    color: yellow;
}

#nest-2 h1{
    background-color:red;
    color: aquamarine;
}

/*----Div and Unlisted tag---*/

div a{
    color: rgb(115, 43, 209);
}

/*----parent ul li semi parent a is tag--*/
ul li a{
    color: orange;
}