/*----creating smooth animation for auto scrolling----*/
html{
    scroll-behavior: smooth; /*--using this simple property---*/
}

body{
    margin: 0;
}

/*-----==Home page headings Center and div size masure--====-*/
div{
    height: 100vh;
    display: flex;
    justify-content:center; /*---item into to center--*/
    align-items:center; /*---test or other item ms bring center--*/
}

/*--==DIV Calling SUDO ELEMENT CALLING ===---------*/

div:nth-child(1){
    background-color: rgb(4,100,255);
}

div:nth-child(2){
    background-color: rgb(96,157,255);
}

a{
    text-decoration: none;
    color: #ffff;
    font-size: 30px;
}


/*-----Aditional propery to make Button and hover styles for a tag ------*/

a:link, a:visited {
    background-color: rgb(231, 179, 34);
    border: solid 1px white;
     color: white;
     padding: 10px 8px;
     text-align: center;
     text-decoration: none;
     display: inline-block;
     border-radius: 16px;
}

a:hover, a:active {
background-color: rgb(71, 163, 28);
border-bottom: 5px solid rgb(119, 114, 114);
}