body{
    margin: 0;
}

h1{
    margin: 0;
}

/*---Flex property always write in parent div , sub div also can use for flex some miner case--*/
.container{
    background-color: lightblue;
    display: flex; /*---default it will raw structure, if you need colum style div :flex-direction: column; can sue--*/
    flex-direction: column;
    /*--flex-direction: row-reverse;/*--make all row's by reverse position--*/
    justify-content: center;
    /*--justify-content: space-evenly;/*---space-around; space-between; space-evenly;---*/
    height: 400px;
    /*--align-items: flex-end;--*/
    flex-wrap: wrap;
    overflow: auto;



}


.one,.two,.three,.four{
   
  
  /*--width:300px;/*--remove width for flex:1---*/
    /*--height: 200px;---*/
    background-color: olivedrab;
    border: 1px solid white;
    text-align: center;
    padding: 5px;


}