/*--div is a block element it will takes all area default--*/
/*-div{
    background-color: rgb(177, 176, 176);
    margin-bottom: 20px;
}

/*--Span tag is an inline element---*/

span{

    background-color: red;
}


div{
    /*--if div makes to inline element and there is no content in html page then it will not shows--*/
    display: inline-block; /*-it will run block and inline when it will resize window--*/
    /*--usful for resposive---*/
    background-color:cyan;
    margin-bottom: 20px;
    width: 100%;

}

#line-1{
    margin-right: 50%;
    background-color:black;
    margin: 0;
    width: 50%;
    height: 500px;
}

#line-2{
    margin-left: 50%;
    background-color:red;
    width: 50%;
    height:500px;
    padding-left: 10%;
}