:root{ /*--root is global ,if you defaine any variable inside the root it can access any class ,tag,id ..etc--*/
   --sha-color:gray;
    --font-family:monospace;
}

.header-1{
    color: red;
    background-color: var(--sha-color);
    font-family: var(--font-family);
}

.header-2{
    color: blue;
    background-color: var(--sha-color);
}

.header-3{
    color: yellow;
    background-color:black
}

.header-4{
    color: coral;
    background-color: var(--sha-color);
}

.header-5{
    color: cyan;
    background-color:black;
    
}


